<ngx-spinner color="#5ECE7B" type="ball-scale-multiple"></ngx-spinner>
<section ngClass="{{darkMode ? 'dark-mode-back dark-mode-color':''}}" class="py-5 mt-5">
    <div class="container">
        <h1 class="my-4">Forget password</h1>

        <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword(forgetForm)">
            <div class="form-floating mb-3">
                <input [class.dark-mode-color]="darkMode" [ngClass]="[forgetForm.get('email')?.errors != null && forgetForm.get('email')?.touched ? 'is-invalid':'' , forgetForm.get('email')?.errors == null && forgetForm.get('email')?.touched ? 'is-valid':'']" formControlName="email"
                    type="email" class="form-control bg-transparent" id="email" placeholder="name@example.com">
                <label for="email">Email <span class="text-danger">*</span></label>
                <div *ngIf="forgetForm.get('email')?.errors!=null && forgetForm.get('email')?.touched" class="text-danger mt-2">
                    <p *ngIf="forgetForm.get('email')?.errors?.['required']">Email is required</p>
                    <p *ngIf="forgetForm.get('email')?.errors?.['email']">Email should be such as example@domain.com
                    </p>
                </div>
            </div>
            <button ngClass="{{darkMode ? 'btn-dark dark-mode-color-dark':''}}" type="submit" class="btn border-0"><span>Submit</span></button>
            <a routerLink="/login" class="btn border-0 ms-2 cancel"><span>Cancel</span></a>

        </form>
    </div>
</section>