<ngx-spinner color="#5ECE7B" type="ball-scale-multiple"></ngx-spinner>
<section ngClass="{{darkMode ? 'dark-mode-back dark-mode-color':''}}" class="py-5 mt-5">
    <div class="container">
        <h1 class="my-4">Login</h1>

        <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">

            <div class="form-floating mb-3">
                <input [class.dark-mode-color]="darkMode" [ngClass]="[loginForm.get('email')?.errors != null && loginForm.get('email')?.touched ? 'is-invalid':'' , loginForm.get('email')?.errors == null && loginForm.get('email')?.touched ? 'is-valid':'']" formControlName="email"
                    type="email" class="form-control bg-transparent" id="email" placeholder="name@example.com">
                <label for="email">Email <span class="text-danger">*</span></label>
                <div *ngIf="loginForm.get('email')?.errors!=null && loginForm.get('email')?.touched" class="text-danger mt-2">
                    <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
                    <p *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email
                    </p>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input [class.dark-mode-color]="darkMode" [ngClass]="[loginForm.get('password')?.errors != null && loginForm.get('password')?.touched ? 'is-invalid':'' , loginForm.get('password')?.errors == null && loginForm.get('password')?.touched ? 'is-valid':'']"
                    formControlName="password" type="password" class="form-control bg-transparent" id="password" placeholder="Password">
                <label for="password">Password <span class="text-danger">*</span></label>
                <div *ngIf="loginForm.get('password')?.errors!=null && loginForm.get('password')?.touched" class="text-danger mt-2">
                    <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
                    <p *ngIf="loginForm.get('password')?.errors?.['pattern']">Invalid password</p>
                </div>
            </div>
            <button ngClass="{{darkMode ? 'btn-dark dark-mode-color-dark':''}}" type="submit" class="btn border-0"><span>Login</span></button>
            <a ngClass="{{darkMode ? 'btn-dark dark-mode-color-dark':''}}" (click)="submitGoogleForm()" class="btn border-0 ms-1"><span><img src="assets/imgs/google.png" alt="google"> Login</span></a>
            <a ngClass="{{darkMode ? 'btn-dark dark-mode-color-dark':''}}" routerLink="/forgetPassword" class="btn border-0 ms-1"><span>Forget password</span></a>
        </form>
    </div>
</section>