<ngx-spinner color="#5ECE7B" type="ball-scale-multiple"></ngx-spinner>
<section ngClass="{{darkMode ? 'dark-mode-back dark-mode-color':''}}" class="py-5 mt-5">
    <div class="container">
        <h1 class="my-4">Update password</h1>

        <form [formGroup]="updateForm" (ngSubmit)="updatePassword(updateForm)">
            <div class="form-floating mb-3">
                <input [class.dark-mode-color]="darkMode" [ngClass]="[updateForm.get('oldPassword')?.errors != null && updateForm.get('oldPassword')?.touched ? 'is-invalid':'' , updateForm.get('oldPassword')?.errors == null && updateForm.get('oldPassword')?.touched ? 'is-valid':'']"
                    formControlName="oldPassword" type="password" class="form-control bg-transparent" id="oldPassword" placeholder="Old password">
                <label for="oldPassword">Old password <span class="text-danger">*</span></label>
                <div *ngIf="updateForm.get('oldPassword')?.errors!=null && updateForm.get('oldPassword')?.touched" class="text-danger mt-2">
                    <p *ngIf="updateForm.get('oldPassword')?.errors?.['required']">Old password is required</p>
                    <p *ngIf="updateForm.get('oldPassword')?.errors?.['pattern']">invalid old password</p>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input [class.dark-mode-color]="darkMode" [ngClass]="[updateForm.get('newPassword')?.errors != null && updateForm.get('newPassword')?.touched ? 'is-invalid':'' , updateForm.get('newPassword')?.errors == null && updateForm.get('newPassword')?.touched ? 'is-valid':'']"
                    formControlName="newPassword" type="password" class="form-control bg-transparent" id="newPassword" placeholder="New password">
                <label for="newPassword">New password <span class="text-danger">*</span></label>
                <div *ngIf="updateForm.get('newPassword')?.errors!=null && updateForm.get('newPassword')?.touched" class="text-danger mt-2">
                    <p *ngIf="updateForm.get('newPassword')?.errors?.['required']">New password is required</p>
                    <p *ngIf="updateForm.get('newPassword')?.errors?.['pattern']">New password should contain at least 8 characters (1 number, 1 lowercase character, 1 uppercase character , 1 special character(@,$,&,_))</p>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input [class.dark-mode-color]="darkMode" [ngClass]="[(updateForm.get('cNewPassword')?.errors != null||updateForm.get('cNewPassword')?.value!==updateForm.get('newPassword')?.value) && updateForm.get('cNewPassword')?.touched ? 'is-invalid':'' , updateForm.get('cNewPassword')?.errors == null && updateForm.get('cNewPassword')?.touched&&updateForm.get('cNewPassword')?.value===updateForm.get('newPassword')?.value ? 'is-valid':'']"
                    formControlName="cNewPassword" type="password" class="form-control bg-transparent" id="cNewPassword" placeholder="Confirm new password">
                <label for="cNewPassword">Confirm new password <span class="text-danger">*</span></label>
                <div *ngIf="updateForm.get('cNewPassword')?.errors!=null && updateForm.get('cNewPassword')?.touched" class="text-danger mt-2">
                    <p *ngIf="updateForm.get('cNewPassword')?.errors?.['required']">Confirm new password is required</p>
                </div>
                <p class="text-danger mt-2" *ngIf="updateForm.get('cNewPassword')?.value!=updateForm.get('newPassword')?.value && updateForm.get('cNewPassword')?.touched">Confirm new password must match new password</p>
            </div>
            <button ngClass="{{darkMode ? 'btn-dark dark-mode-color-dark':''}}" type="submit" class="btn border-0"><span>Update</span></button>
            <a routerLink="/profile" class="btn border-0 ms-2 cancel"><span>Cancel</span></a>
        </form>
    </div>
</section>