<ngx-spinner color="#5ECE7B" type="ball-scale-multiple"></ngx-spinner>
<section ngClass="{{darkMode ? 'dark-mode-back dark-mode-color':''}}" class="py-5 mt-5">
    <div class="container">
        <h1 class="my-4">Change password</h1>

        <form [formGroup]="changeForm" (ngSubmit)="changePassword(changeForm)">
            <div class="form-floating mb-3">
                <input [class.dark-mode-color]="darkMode" [ngClass]="[changeForm.get('newPassword')?.errors != null && changeForm.get('newPassword')?.touched ? 'is-invalid':'' , changeForm.get('newPassword')?.errors == null && changeForm.get('newPassword')?.touched ? 'is-valid':'']"
                    formControlName="newPassword" type="password" class="form-control bg-transparent" id="newPassword" placeholder="New password">
                <label for="newPassword">New password <span class="text-danger">*</span></label>
                <div *ngIf="changeForm.get('newPassword')?.errors!=null && changeForm.get('newPassword')?.touched" class="text-danger mt-2">
                    <p *ngIf="changeForm.get('newPassword')?.errors?.['required']">New password is required</p>
                    <p *ngIf="changeForm.get('newPassword')?.errors?.['pattern']">New password should contain at least 8 characters (1 number, 1 lowercase character, 1 uppercase character , 1 special character(@,$,&,_))</p>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input [class.dark-mode-color]="darkMode" [ngClass]="[(changeForm.get('cNewPassword')?.errors != null||changeForm.get('cNewPassword')?.value!==changeForm.get('newPassword')?.value) && changeForm.get('cNewPassword')?.touched ? 'is-invalid':'' , changeForm.get('cNewPassword')?.errors == null && changeForm.get('cNewPassword')?.touched&&changeForm.get('cNewPassword')?.value===changeForm.get('newPassword')?.value ? 'is-valid':'']"
                    formControlName="cNewPassword" type="password" class="form-control bg-transparent" id="cNewPassword" placeholder="Confirm new password">
                <label for="cNewPassword">Confirm new password <span class="text-danger">*</span></label>
                <div *ngIf="changeForm.get('cNewPassword')?.errors!=null && changeForm.get('cNewPassword')?.touched" class="text-danger mt-2">
                    <p *ngIf="changeForm.get('cNewPassword')?.errors?.['required']">Confirm new password is required</p>
                </div>
                <p class="text-danger mt-2" *ngIf="changeForm.get('cNewPassword')?.value!=changeForm.get('newPassword')?.value && changeForm.get('cNewPassword')?.touched">Confirm new password must match new password</p>
            </div>
            <button ngClass="{{darkMode ? 'btn-dark dark-mode-color-dark':''}}" type="submit" class="btn border-0"><span>Update</span></button>
            <a (click)="cancel();" routerLink="/login" class="btn border-0 ms-2 cancel"><span>Cancel</span></a>
        </form>
    </div>
</section>